@tailwind base;
@tailwind components;
@tailwind utilities;

.noteCalendar .fc .fc-button-primary {
    color: #fff;
    background-color:#046c4e;
}

.noteCalendar .fc .fc-button-primary:hover {
    background-color:#03543f;
}

.noteCalendar .fc .fc-button-primary:disabled {
    background-color: #046c4e;
    color: #fff;
    opacity: 0.65;
}

.noteCalendar .fc .fc-scrollgrid {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.noteCalendar thead .fc-scrollgrid-sync-inner {
    background-color: #a8d08d;
    font-weight: 400;
    color: #000;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-right-color: #000;
}

.noteCalendar .fc-theme-standard td, .fc-theme-standard th {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}